body {
  margin: 100px 0;
  font-family: sans-serif;
  background: linear-gradient(0deg, white, rgb(72, 61, 139, 0.8));
  color: white;
}

header {
  margin: 30px 0;
  text-align: center;
  color: white;
}

#title {
  font-weight: 500;
  letter-spacing: 0.2rem;
}

#description {
  font-style: italic;
  font-weight: 300;
  text-shadow: 2px 2px rgb(0,0,0,0.5);  
}

#survey-form {
  margin: auto;
  width: 50%;
  padding: 5%;
  background-color: rgb(35, 30, 64, 0.8);
  border-radius: 5px;
}

.form-elem-div {
  width: 100%;
  margin: 15px 0;
}

form label {
  margin-bottom: 10px;
  display: inline-block;
  color: white;
}

form input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 3px;
  padding-left: 5px;
  margin: 5px 0;
}

.optional-text {
  font-size: 0.8em;
}

.radio-div label {
  padding-left: 10px;
  font-size: 0.9rem;
}
form select {
  width: 100%;
  padding: 1%;
}

form input[type="radio"] {
  width: auto;
}

form input[type="checkbox"] {
  width: auto;
}

.checkbox-div label {
  padding-left: 10px;
  font-size: 0.9rem;
}

#comments {
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

#submit {
  width: 100%;
  padding: 20px;
  background: linear-gradient(90deg, #4CAF50, #4caf50);
  border: none;
  border-radius: 0;
  color: white;
  text-align: center;
  font-size: 16px;
}